<template>
    <h2 style="color: black; font-weight: 700">{{ articleName }}</h2>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        props: ['articleName']
    }
</script>