<template>
    <div>
        <section>
            <table>
                <tr data-userid="1">
                    <td>Owiredu Richard</td>
                    <td>rowired.ing@gmail.com</td>
                    <td>
                        <button data-action="edit">edit</button>
                        <button data-action="delete">delete</button>
                    </td>
                </tr>
            </table>
        </section>
        <section>
            <div class="search-wrapper">
                <div data-action="show-input" class="input-wrapper is-hidden">
                    <input type="text">
                </div>
                <div class="search-icon-wrapper">
                    <button data-icon="search" data-action="show-search-input"></button>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    methods: {
        handleMouseOver:  function( event ) 
        {   
            let { action } = event.target.dataset

            if( action )
            {
                if( action == "show-search-input") {
                    this.handleOpenSearch()
                }
            } 
        },
        handleClick: function( event ) 
        {
            let { action } = event.target.dataset

            if( action ) 
            {
                let userId = this.getUserId( event.target )

                if( action == 'edit' ) 
                    console.log(`Edit user with id ${userId}`)
                if(action == 'delete')
                    console.log(`Delete user with id ${userId}`)
            }

            if ( !event.target.
            closest(".input-wrapper") )
            {
                this.handleCloseSearch()
            }
        },
        getUserId: 
        function( event )
        {
           return event.
           closest('[data-userid]').
           dataset.userid
        },
        handleCloseSearch: 
        function() 
        {
            document.querySelector(".input-wrapper").
            classList.add('is-hidden')
        },
        handleOpenSearch: 
        function() {
            document.querySelector(".input-wrapper").
            classList.remove('is-hidden')
        }
    },
    created: 
    function() 
    {
        window.
        addEventListener('click',  this.handleClick)
        window.
        addEventListener('mouseover', this.handleMouseOver)
    },
    destroyed: 
    function() 
    {
        window.
        removeEventListener('click', this.handleClick)
    }
}
</script>

<style>
    @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
    .is-hidden {
        opacity: 0;
    }

    .input-wrapper {
        transition: all 0.35s ease-in-out;
    }

    button {
        background: transparent;
        outline: none;
        border: none;
    }

    [data-icon]::before {
        content: attr(data-icon);
        font-family: 'Material Icons';
        font-size: 20px;
        color: #00b6ff;
    }

    .search-icon-wrapper {
        position: absolute;
        top: 0;
        right: 12px;
        bottom: 0;
        display: flex;
        align-items: center;
    }

    .search-wrapper {
        position: relative;
        width: 300px;
    }

    input {
        border: none;
        outline: none;
        padding: 12px;
        width: 100%;
        background: transparent;
    }

    .input-wrapper {
        border: 1px solid #969292;
        border-radius: 30px;
        width: 300px;
        box-shadow: inset 0 0 18px 10px #a8a1a1;
        display: flex;
        align-items: center;
    }

    table, tr > td {
        border: 2px solid #000;
        padding: 14px;
    }
</style>