<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Example Component</div>
 
                    <div class="panel-body">
                        I'm an example component!
                    </div>

                    <!--<m-article></m-article>-->
                    <div class="clip-container">
                        <div class="clip-icon">>></div>
                        <div class="clip-text">View details</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    import Article from './Article.vue'

    export default {
        components: {
            'm-article' : Article
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style scoped>
    .panel-default {
        color: #fff;
        /*clip-path: inset(0px 0px 115px 0px)*/;
        transition: all 0.5s ease-in-out;
        background: transparent;
    }

    .col-md-8:hover .panel-default {
        /*clip-path: inset(0% 0% 0% 0%);*/
        background: #00b6ff;
    }   

    .clip-container {
        width: 120px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-left: 8px;
        border-radius: 30px;
        background: rgb(35, 40, 43);
        color: #fff;
        margin-left: 32px;
        margin-bottom: 32px;
        transition: all 0.35s ease-in-out;
        clip-path: circle(15px at 15px 15px);
        cursor: pointer;
    }

    .clip-text {
        font-size: 12px;
        padding-left: 6px;
        color: transparent;
        transition: all 0.25s ease-in-out;
    }

    .panel-default:hover .clip-container{
        width: 120px;
        clip-path: circle(100%);
    }

    .panel-default:hover .clip-text {
        color: #fff;
    }

</style>