<template>
    <div>
        <div :key="reply" v-for="reply in items">
            <reply :data="reply"></reply>
        </div>
    </div>
</template>
 
<script>
    import Reply from './Reply.vue';
 
    export default {
        props: ['data'], // accepts data for replies
 
        components: {Reply},
 
        data() {
            return {
                items: this.data
            }
        }
    }
</script>